build --spawn_strategy=standalone
build --genrule_strategy=standalone
build --strategy=CppCompile=standalone
build --strategy=CppLink=standalone
build --strategy=ObjcCompile=standalone
build --strategy=ObjcLink=standalone
build --nosandbox_debug
build --action_env=PATH
build --action_env=HOME
build --action_env=USER
build --action_env=SHELL
build --action_env=TMPDIR
build --action_env=TERM
build --features=-layering_check
build --features=-static_linking
build --host_cxxopt=-std=c++11
build --cxxopt=-std=c++11
build --apple_platform_type=macos
build --macos_minimum_os=10.9
build --experimental_objc_fastbuild_options
build --experimental_repository_cache_hardlinks
build --incompatible_enable_cc_toolchain_resolution=false
build --linkopt=-Wl,-headerpad_max_install_names
build --linkopt=-Wl,-no_compact_unwind
